<div class="d-flex container justify-content-center display-bubble">
   <h3 class="title-new">Ajouter une vidéo de Rap</h3>


    <%= simple_form_for(@rap) do |f| %>
         <%= f.error_notification %>
         <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

         <div class="form-inputs">
           <%= f.input :url %>

         </div>

         <div class="form-actions">
           <%= f.button :submit, class: "btn btn-danger title-new" %>
         </div>
       <% end %>
</div>
